body {
  background-color: #38e0c9;
}

#container {
  margin-top: 17%;
  margin-left: 25%;
  background-color: white;
  height: 300px;
  width : 700px;
  position: relative;
  box-shadow: 0px 5px 15px 0px;
}

#start{
    text-align: center;
    cursor: wait;
    position: absolute;
    font-size: 30px;
    font-family: Abel;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    color: lightgray;
}

#start:hover{
  color: #38e0c9;
}

b:hover{
  text-decoration: underline;
}
a {
  color: white;
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  display: inline flex;
  list-style-type: none;
}

.li1 {
  float: left;
  font-family: abel;
  font-size: 30px;
  color: white;
  display: inline;
  margin-left: 270px;
}

.li2 {
  float: left;
  font-family: abel;
  font-size: 30px;
  color: white;
  display: inline;
  padding-left: 70px;
}

.li3 {
  float: left;
  font-family: abel;
  font-size: 30px;
  color: white;
  display: inline;
  padding-left: 70px;
}
.li4 {
  font-family: abel;
  font-size: 30px;
  color: white;
  display: inline;
  padding-left:70px;
}

.bar {
  background: #38e0c9;
  padding: 1px;
  height: 70px;
}
