body {
  background-color: #38e0c9;
}

#container {
  margin-top: 17%;
  margin-left: 25%;
  background-color: white;
  height: 300px;
  width : 700px;
  position: relative;
  box-shadow: 0px 5px 15px 0px;
}

#start{
    text-align: center;
    cursor: wait;
    position: absolute;
    font-size: 30px;
    font-family: Abel;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    color: lightgray;
}

#start:hover{
  color: #38e0c9;
}

b:hover{
  text-decoration: underline;
}
