body {
  background-color: #38e0c9;
}

.main{
  font-family: abel;
}

a {
  color: white;
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
}

h1.title{
  color: white;
  text-align: center;
  font-size: 100px;
  top: 70%
  width: 30%
}

.socialtitle {
  font-family: abel;
  color: white;
  text-align: center;
  padding-left: 262px;
  padding-top: 10px;
  font-size: 100px;
}

p.paragraph{
  color: #c9e8d5;
  text-align: center;
  top: 10%;
}

.socialtext {
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 35px;
  padding-left: 78px;
}

.line {
  display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 5px solid #ffffff;
       border-bottom: 1px solid #ffffff;
}

.hoverover:hover {
    position: relative;
}

.hoverover:hover:after {
    content: url("garbagepile.png");
    display: block;
    position: absolute;
    right: 8%;
    left: 8%;
    top: 10%;
    size: 60%;
}

.socialmedia-icon {
  width: 170px;
  height: 170px;
  margin-top: 60px;
  margin-left: 100px;
}

.socialmedia:hover .socialmedia-icon {
  opacity: 0.2;
}

.fbtext{
  font-family: abel;
  font-size: 20px;
  color: white;
  padding-left: 100px;
  padding-top: 10px;
  text-decoration: none;
}

.instatext {
  font-family: abel;
  font-size: 20px;
  color: white;
  padding-left: 120px;
  padding-top: 10px;
}

.twittertext{
  font-family: abel;
  font-size: 20px;
  color: white;
  padding-left: 120px;
  padding-top: 10px;
}

.navbar {
  display: inline-flex;
  list-style-type: none;
}

.li1 {
  float: left;
  font-family: abel;
  font-size: 30px;
  color: white;
  display: inline;
  margin-left: 200px;
}

.li2 {
  float: left;
  font-family: abel;
  font-size: 30px;
  color: white;
  display: inline;
  padding-left: 70px;
}

.li3 {
  float: left;
  font-family: abel;
  font-size: 30px;
  color: white;
  display: inline;
  padding-left: 70px;
}
.li4 {
  font-family: abel;
  font-size: 30px;
  color: white;
  display: inline;
  padding-left:70px;
}
.li5 {
  font-family: abel;
  font-size: 30px;
  color: white;
  display: inline;
  padding-left:70px;
}

.bar {
  background: #38e0c9;
  padding: 1px;
  height: 70px;
}

.productstitle {
  font-family: abel;
  color: white;
  text-align: center;
  padding -left: 262px;
  padding-top: 50px;
  font-size: 100px;
}

.producttext {
  font-family: abel;
  color: white;
  text-align: right;
  font-size: 70px;
}

.producttext2 {
  font-family: abel;
  color: white;
  text-align: right;
  font-size: 30px;
}
