body {
  background-color: #38e0c9;
}

.main{
  font-family: abel;
}

a {
  color: lightgray;
  text-decoration: none;
}

a:link {
  color: lightgray;
}

a:visited {
  color: lightgray;
}

a:hover {
  text-decoration: underline;
  color: #38e0c9;
}

#title{
  color: #38e0c9;
  text-align: center;
  font-size: 130px;
  top: 70%;
  margin-top: 5%;
}

#garbage img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.socialtitle {
  font-family: abel;
  color: white;
  text-align: center;
  padding-left: 262px;
  padding-top: 10px;
  font-size: 100px;
}

p.paragraph{
  color: #38e0c9;
  text-align: justify;
  font-size: 25px;
  padding-left: 10%;
  padding-right: 10%;
}

.socialtext {
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 35px;
  padding-left: 78px;
}

.line {
  display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 5px solid #ffffff;
       border-bottom: 1px solid #ffffff;
}

.socialmedia-icon {
  width: 170px;
  height: 170px;
  margin-top: 60px;
  margin-left: 100px;
}

.socialmedia:hover .socialmedia-icon {
  opacity: 0.2;
}

.fbtext{
  font-family: abel;
  font-size: 20px;
  color: white;
  padding-left: 100px;
  padding-top: 10px;
  text-decoration: none;
}

.instatext {
  font-family: abel;
  font-size: 20px;
  color: white;
  padding-left: 120px;
  padding-top: 10px;
}

.twittertext{
  font-family: abel;
  font-size: 20px;
  color: white;
  padding-left: 120px;
  padding-top: 10px;
}

.navbar {
  display: inline-flex;
  list-style-type: none;
}

.li1 {
  float: left;
  font-family: abel;
  font-size: 30px;
  color: #38e0c9;
  display: inline;
  margin-left: 300px;
}

.li2 {
  float: left;
  font-family: abel;
  font-size: 30px;
  color: #38e0c9;
  display: inline;
  padding-left: 70px;
}

.li3 {
  float: left;
  font-family: abel;
  font-size: 30px;
  color: #38e0c9;
  display: inline;
  padding-left: 70px;
}
.li4 {
  font-family: abel;
  font-size: 30px;
  color: #38e0c9;
  display: inline;
  padding-left:70px;
}
.li5 {
  font-family: abel;
  font-size: 30px;
  color: #38e0c9;
  display: inline;
  padding-left:70px;
}

.bar {
  background: white;
  padding: 1px;
  height: 70px;
}

.productstitle {
  font-family: abel;
  color: white;
  text-align: center;
  padding-left: 15px;
  padding-top: 50px;
  font-size: 100px;
}

.producttext {
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 40px;
}

.producttext2 {
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 30px;
}
