body {
  background-color: #38e0c9;
}

.main{
  font-family: abel;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

h1.title{
  color: white;
  text-align: center;
  font-size: 100px;
  top: 70%
  width: 30%
}

.producttext {
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 18px;
}

.producttext2 {
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 30px;
}

#textimg1{
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

#textimg2{
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

#textimg3{
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

#textimg4{
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 40px;
}

#textimg5{
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 40px;
}

#textimg6{
  font-family: abel;
  color: white;
  text-align: center;
  font-size: 40px;
}




.container {
  position: relative;
  width: 100%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}


/* Responsive facts page */
/* .img1wrap{
  position: relative;
  height: 200px;
  width: 300px;
}

.image1wrap:hover #textimg1{
  visibility: visible;
  opacity: 1;
}

#textimg1{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: #38e0c9;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
} */
